@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*----global----*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}
:root{
    --yellow:#F1D222;
    --blue:#233452;
    --white:#fff;
    --gray:#f5f5f5;
    --black:#000;
    --black1:#222;
    --black2:#999;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--gray);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}
/*----form----*/
.box{
    background: var(--white);
    display: flex;
    flex-direction: column;
    padding: 24px 24px;
    border-radius: 8px;
    box-shadow: 0 0 128px rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
}
.form-box{
    width: 450px;
    margin: 0 12px;
}
.form-box header{
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 12px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 12px;
}
.form-box .field-input{
    display: flex;
    margin-bottom: 8px;
    flex-direction: column;
}
.field-input input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
}
.button input{
    width: 100%;
    background: var(--blue);
    border-radius: 4px;
    border: none;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    padding: 12px 0px;
    margin-top: 12px;
    transition: all .3s;
}
.button input:hover{
    background-color: var(--yellow);
    color: var(--blue);
}
.links{
    margin-bottom: 16px;
    margin-top: 8px;
}
