/*
Large Desktop : above 1200px
Mini Desktop : 1199px - 992px
Tablet : 991px - 768px
Large mobile : 767px - 576px
Mobile : 575px - 320px

$breakpoint argument choices
- mini-desktop
- tablet
- large-mobile
- mobile

ORDER: Base + typography > general layout + grid > page layout > components
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 1200px) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 992px) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 576px) {
    html {
      font-size: 43.75%; } }

body {
  box-sizing: border-box; }

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 2.4;
  color: #002352; }

.heading-1 {
  font-size: 5.6rem;
  font-weight: 600;
  line-height: 6.72rem;
  color: #001129; }

.heading-2 {
  font-size: 4rem;
  line-height: 5.6rem;
  font-weight: 600;
  color: #002352; }

.heading-3 {
  font-size: 3.2rem;
  line-height: 4.8rem;
  font-weight: 600; }
  .heading-3__dark {
    color: #231D4F; }
  .heading-3__light {
    color: #fff; }

.heading-4 {
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 2.24rem;
  font-weight: 600;
  letter-spacing: 4%;
  color: #2A85FF; }

.paragraph {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0.5%;
  opacity: 70%; }
  .paragraph__dark {
    color: #002352; }
  .paragraph__light {
    color: #fff;
    opacity: 1; }

button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 2.4; }

.u-margin-bottom-bigest {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 992px) {
    .u-margin-bottom-bigest {
      margin-bottom: 6rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 992px) {
    .u-margin-bottom-big {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 2.4rem !important; }
  @media only screen and (max-width: 992px) {
    .u-margin-bottom-medium {
      margin-bottom: 2rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.6rem !important; }

.u-margin-bottom-smallest {
  margin-bottom: 0.8rem !important; }

.padding-all {
  padding: 8rem 16rem; }
  @media only screen and (max-width: 1200px) {
    .padding-all {
      padding: 6rem 10rem; } }
  @media only screen and (max-width: 992px) {
    .padding-all {
      padding: 5rem 6.4rem; } }
  @media only screen and (max-width: 768px) {
    .padding-all {
      padding: 4rem 2.4rem; } }

.center-text {
  text-align: center; }

.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  text-decoration: none;
  text-align: center; }

.btn-text, .btn-text:link, .btn-text:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 1.6rem;
  transition: all .2s;
  position: relative;
  border: none;
  cursor: pointer;
  color: #001129;
  background-color: transparent; }

.btn-text:hover {
  color: #2A85FF; }

.btn-text:active, .btn-text:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(35, 29, 79, 0.4); }

.btn-secondery, .btn-secondery:link, .btn-secondery:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 1.6rem;
  transition: all .2s;
  position: relative;
  border: 1px solid #ebebeb;
  cursor: pointer;
  color: #2A85FF;
  background-color: transparent; }

.btn-secondery:hover {
  border: 1px solid rgba(235, 235, 235, 0);
  background-color: #2A85FF;
  color: #fff; }

.btn-secondery:active, .btn-secondery:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(35, 29, 79, 0.4); }

.btn-secondery__card {
  padding: 1.6rem 2.4rem; }

.btn-primer, .btn-primer:link, .btn-primer:visited {
  padding: 1.6rem 2.4rem;
  border-radius: 1.6rem;
  transition: all .2s;
  position: relative;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #2A85FF; }

.btn-primer:hover {
  background-color: #002352; }

.btn-primer:active, .btn-primer:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(35, 29, 79, 0.4); }

.btn-primer__card {
  transition: all .2s;
  border: 1px solid rgba(235, 235, 235, 0); }
  .btn-primer__card:hover {
    background-color: #FFBB1F;
    border: 1px solid rgba(235, 235, 235, 0); }
  .btn-primer__card:active, .btn-primer__card:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(35, 29, 79, 0.4); }

.download__icon {
  width: 2rem;
  height: 2rem;
  fill: #fff;
  margin-right: 1rem; }

.scroll-btn, .scroll-btn:link, .scroll-btn:visited {
  padding: 1.6rem;
  border-radius: 50%;
  border: 1px solid #EBEBEB;
  background-color: #fff;
  cursor: pointer;
  transition: all .2s; }

.scroll-btn:hover {
  background-color: #EBEBEB;
  color: #fff; }

.scroll-btn:active, .scroll-btn:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(35, 29, 79, 0.4); }

.scroll__icon {
  width: 2.4rem;
  height: 2.4rem;
  stroke: currentColor; }

.scroll-btn {
  color: rgba(0, 35, 82, 0.7); }
  .scroll-btn, .scroll-btn:link, .scroll-btn:visited {
    padding: 1.6rem;
    border-radius: 50%;
    border: 1px solid #EBEBEB;
    background-color: #fff;
    cursor: pointer;
    transition: all .2s; }
  .scroll-btn:hover {
    background-color: #002352;
    color: #fff;
    border: 1px solid #002352; }
  .scroll-btn:active, .scroll-btn:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(35, 29, 79, 0.4); }

.btn-switch, .btn-switch:link, .btn-switch:visited {
  font-size: 12px;
  line-height: 16.2px;
  font-weight: 400;
  padding: 1.4rem 2.8rem;
  border-radius: 49px;
  transition: all .2s;
  position: relative;
  cursor: pointer;
  color: rgba(0, 35, 82, 0.7);
  background-color: transparent;
  border: none; }

.btn-switch:active, .btn-switch:focus, .btn-switch--active {
  outline: none;
  font-weight: 500;
  color: #2A85FF;
  background-color: #fff;
  box-shadow: 0 0.2rem 1.6rem rgba(0, 35, 82, 0.08);
  border: none; }

.btn-footer, .btn-footer:link, .btn-footer:visited {
  font-size: 1.4rem;
  line-height: 2.38rem;
  font-weight: 400;
  border-radius: 1.6rem;
  transition: all .2s;
  position: relative;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: transparent; }

.btn-footer:hover {
  color: #72C5F5; }

.btn-footer:active, .btn-footer:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(35, 29, 79, 0.4); }

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(0, 35, 82, 0.2);
  border-radius: 2.4rem;
  padding: 4rem; }
  @media only screen and (max-width: 576px) {
    .card {
      padding: 2rem; } }
  .card h3 {
    margin-bottom: 4px; }
  .card__price {
    position: absolute;
    top: 4rem;
    right: 4rem;
    font-size: 4rem;
    font-weight: 500;
    line-height: 6rem;
    color: #002352; }
    .card__price span {
      font-size: 1.6rem;
      line-height: 2.4rem;
      font-weight: 500;
      color: currentColor;
      opacity: 0.5;
      padding-left: .5rem; }
    .card__price--dark {
      color: #fff; }
      .card__price--dark span {
        color: rgba(255, 255, 255, 0.5); }
  .card__icon {
    background-color: #72C5F5;
    width: 8rem;
    height: 8rem;
    padding: 1.5rem;
    border-radius: 100px; }
    .card__icon--dark {
      background-color: #FFBB1F; }
  .card__item {
    position: relative;
    padding: 2.4rem 0 3.2rem 0;
    border-top: 1px solid rgba(0, 35, 82, 0.2);
    display: flex;
    flex-direction: column;
    gap: 2.4rem; }
    .card__item--dark {
      border-top: 1px solid rgba(255, 255, 255, 0.2); }
    .card__item--list {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 1.2rem; }
  .card--light {
    background-color: #fff; }
  .card--dark {
    background-color: #002352;
    color: #fff; }

.price__icon {
  width: 100%;
  height: 100%; }

.list__icon {
  box-sizing: content-box;
  background-color: rgba(42, 133, 255, 0.1);
  padding: 0.4rem;
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
  stroke: #2A85FF; }
  .list__icon--dark {
    background-color: #2A85FF;
    stroke: #fff; }

.logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px; }
  .logo__icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #002352;
    height: 22px;
    width: 22px;
    padding: 4px;
    border-radius: 50%; }
    .logo__icon svg {
      position: relative;
      width: 100%;
      height: 100%;
      fill: #fff; }
  .logo__name {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700; }
    @media only screen and (max-width: 576px) {
      .logo__name {
        margin-left: 4px; } }
    .logo__name--dark {
      color: #001129; }
    .logo__name--light {
      color: #fff;
      margin-left: 0; }

.footers {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #002352; }

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .footer__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2.4rem; }

.copyright {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-direction: row;
  border-top: 1.5px solid rgba(255, 255, 255, 0.1);
  padding: 3.2rem 16rem 4rem 16rem; }
  @media only screen and (max-width: 1200px) {
    .copyright {
      padding: 6rem 10rem; } }
  @media only screen and (max-width: 992px) {
    .copyright {
      padding: 5rem 6.4rem; } }
  @media only screen and (max-width: 768px) {
    .copyright {
      padding: 4rem 2.4rem; } }
  .copyright p {
    color: #fff;
    opacity: 1; }
  .copyright__socmed {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 4rem;
    color: #fff; }
    @media only screen and (max-width: 576px) {
      .copyright__socmed {
        gap: 2rem; } }
    .copyright__socmed--link {
      text-decoration: none;
      color: #fff;
      display: flex; }
      .copyright__socmed--link:hover {
        color: #72C5F5; }
    .copyright__socmed--icon {
      width: 24px;
      height: 24px;
      stroke: currentColor; }
      @media only screen and (max-width: 576px) {
        .copyright__socmed--icon {
          width: 20px;
          height: 20px; } }
  @media only screen and (max-width: 576px) {
    .copyright {
      gap: 2rem; } }

.header {
  display: flex;
  flex-direction: column;
  position: relative; }

.navigation {
  display: flex;
  justify-content: space-between;
  height: 9.6rem;
  padding: 2.4rem 6.4rem; }
  @media only screen and (max-width: 768px) {
    .navigation {
      padding: 24px 2.4rem; } }
  @media only screen and (max-width: 992px) {
    .navigation {
      height: auto; } }
  .navigation__list {
    display: flex;
    gap: 2.4rem; }
    @media only screen and (max-width: 992px) {
      .navigation__list {
        gap: 1rem; } }
    @media only screen and (max-width: 576px) {
      .navigation__list {
        z-index: 100;
        background-color: #002352;
        position: fixed;
        width: 60vw;
        height: 100vh;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        right: -60vw;
        top: 0;
        padding: 24px 24px 0 0;
        transition: all .5s; }
        .navigation__list button {
          color: #fff;
          border: none; } }
  .navigation__toggle {
    position: relative;
    align-self: center;
    display: none; }
    @media only screen and (max-width: 576px) {
      .navigation__toggle {
        width: 4rem;
        height: 100;
        display: block; } }

.toggle {
  display: none; }
  .toggle__menu {
    width: 4rem;
    height: 4rem;
    display: block; }
  .toggle__close {
    fill: #fff;
    stroke: #fff;
    align-self: end;
    width: 2.5rem;
    height: 2.5rem;
    display: block;
    margin-bottom: 2rem; }

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 2.9rem 12.4rem 7.1rem 16rem; }
  @media only screen and (max-width: 1200px) {
    .hero {
      padding: 6rem 10rem; } }
  @media only screen and (max-width: 992px) {
    .hero {
      padding: 5rem 6.4rem; } }
  @media only screen and (max-width: 768px) {
    .hero {
      padding: 4rem 2.4rem;
      flex-direction: column;
      height: min-content; } }
  .hero__content {
    display: grid;
    justify-items: start;
    width: 37.64vw;
    animation: moveInLeft .8s ease-out; }
    .hero__content p {
      width: 26.52vw; }
      @media only screen and (max-width: 768px) {
        .hero__content p {
          width: 100%; } }
    @media only screen and (max-width: 992px) {
      .hero__content {
        width: 50%; } }
    @media only screen and (max-width: 768px) {
      .hero__content {
        width: 100%;
        justify-items: center;
        text-align: center;
        margin-bottom: 4rem; } }
  .hero__text {
    font-size: 1.8rem;
    color: #001129; }
  .hero__img {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, min-content);
    justify-items: start;
    align-items: start;
    row-gap: 3rem;
    animation: moveInRight .8s ease-out .3s;
    animation-fill-mode: backwards; }
    .hero__img--1 {
      width: 14vw;
      justify-self: end; }
      @media only screen and (max-width: 768px) {
        .hero__img--1 {
          width: 28vw; } }
    .hero__img--2 {
      box-sizing: content-box;
      width: 17.75vw;
      padding-left: 2vw; }
      @media only screen and (max-width: 768px) {
        .hero__img--2 {
          width: 35.5vw;
          padding-left: 4vw; } }
    .hero__img--3 {
      box-sizing: content-box;
      width: 16.3vw;
      justify-self: end;
      padding-right: 3.5vw;
      transform: translateY(-4.5vw); }
      @media only screen and (max-width: 768px) {
        .hero__img--3 {
          width: 32.6vw;
          padding-right: 7vw;
          transform: translateY(-9vw); } }
    .hero__img--4 {
      width: 15.7vw;
      transform: translateX(-1.5vw); }
      @media only screen and (max-width: 768px) {
        .hero__img--4 {
          width: 31.4vw;
          transform: translateX(-3vw); } }
  .hero__shape {
    position: absolute;
    width: 85%;
    height: 85%;
    z-index: -10;
    transform: translateX(3.5vw);
    background-image: url(../img/Shape-Circle.svg);
    background-size: 110%; }
    @media only screen and (max-width: 768px) {
      .hero__shape {
        transform: translateX(7vw); } }
    .hero__shape--dot {
      position: absolute;
      display: block;
      background-size: cover;
      background-position: right;
      right: 1.4vw;
      top: 7vw;
      width: 25.6vw;
      height: 12.7vw;
      background-image: url(../img/Shape-Dot.svg); }
      @media only screen and (max-width: 768px) {
        .hero__shape--dot {
          right: 6vw;
          top: 18vw;
          width: 51.2vw;
          height: 25.4vw; } }
    .hero__shape--triangle {
      position: absolute;
      display: block;
      background-size: cover;
      background-position: right;
      right: -2.2vw;
      bottom: 7.8vw;
      width: 7vw;
      height: 7vw;
      background-image: url(../img/Shape-Triangle.svg); }
      @media only screen and (max-width: 768px) {
        .hero__shape--triangle {
          right: -4.4vw;
          bottom: 14.5vw;
          width: 14vw;
          height: 14vw; } }

.section-about {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 12.8rem;
  background-color: #F5F9FF; }
  @media only screen and (max-width: 768px) {
    .section-about {
      flex-direction: column-reverse;
      gap: 3rem; } }

.about__img {
  width: 75%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: moveInLeft .8s ease-out; }
  @media only screen and (max-width: 768px) {
    .about__img {
      width: 70%; } }
  .about__img--1 {
    width: 100%;
    height: 100%; }

.about__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  animation: moveInRight .8s ease-out .3s;
  animation-fill-mode: backwards; }
  @media only screen and (max-width: 768px) {
    .about__text {
      align-items: center;
      text-align: center; } }

.section-pricing {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8.8rem 25.6rem; }
  @media only screen and (max-width: 1200px) {
    .section-pricing {
      padding: 6rem 10rem; } }
  @media only screen and (max-width: 992px) {
    .section-pricing {
      padding: 5rem 6.4rem; } }
  @media only screen and (max-width: 768px) {
    .section-pricing {
      padding: 4rem 2.4rem; } }

.pricing__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  animation: moveInBottom .8s ease-out; }

.pricing__switch {
  display: flex;
  gap: 1.6rem;
  justify-content: center;
  background-color: #F7F7F7;
  border-radius: 40px;
  padding: 6px;
  margin-bottom: 6.4rem;
  animation: moveInBottom .8s ease-out .3s;
  animation-fill-mode: backwards; }

.pricing__card {
  display: grid;
  grid-template-columns: repeat(2, minmax(30rem, 45rem));
  gap: 3.2rem;
  max-width: 95rem;
  animation: moveInBottom .8s ease-out .6s;
  animation-fill-mode: backwards; }
  @media only screen and (max-width: 768px) {
    .pricing__card {
      grid-template-columns: 50vw; } }
  @media only screen and (max-width: 576px) {
    .pricing__card {
      grid-template-columns: 70vw; } }

.extension-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: moveInBottom .8s ease-out; }
  .extension-section p {
    opacity: 0.5; }
