$color-primary: #001129;
$color-primary-light: #002352;

$color-secondary-light: #72C5F5;
$color-secondary-dark: #2A85FF;


$color-grey-light-1:#F5F9FF;
$color-grey-light-2:#EBEBEB;
$color-grey-light-3:#F7F7F7;

$color-yellow: #FFBB1F;


$color-grey-dark:#72C5F514; 

$color-white:#fff;
$color-black: #231D4F;


//FONT
$default-font-size: 1.6rem;