.section-about {
    background-color: $color-grey-light-1;
}
#section-about {
    gap: 12.8rem;

    @include respond(large-mobile) {
        flex-direction: column-reverse;
        gap: 3rem;
    }
}


.about {
    &__img {
        max-width: 52.25rem;
        width: 75%;
        position: relative;
        
        @include respond(large-mobile) {
            width: 70%;
        }

        &--1 {
            width: 100%;
            height: 100%;   
        }
    }

    &__text {
        @include respond(large-mobile) {
            align-items: center;
            text-align: center;
        }
    }
}

#section-pricing {
    padding: 8.8rem 25.6rem;

    @include respond(mini-desktop) {
        padding: 6rem 10rem;
    }

    @include respond(tablet) {
        padding: 5rem 6.4rem;
    }

    @include respond(large-mobile) {
        padding: 4rem 2.4rem;
    }
}

.pricing {
    &__heading {
        gap: 1.6rem;
    }

    &__switch {
        display: flex;
        gap: 1.6rem;
        background-color: $color-grey-light-3;
        border-radius: 40px;
        padding: 6px;
        margin-bottom: 6.4rem;

    }

    &__card {
        display: grid;
        grid-template-columns: repeat(2, minmax(30rem, 45rem));
        gap: 3.2rem;
        max-width: 95rem;

        @include respond(large-mobile) {
            grid-template-columns: 50vw;
        }

        @include respond(mobile) {
            grid-template-columns: 70vw;
        }
    }
}

.section-extension {
    position: relative;

    p {
        opacity: 0.5;
    }
}